  :root {
	--surface-color: rgb(255, 182, 6);
	--curve: 40;
  }
    
  .cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 2rem;
	margin:4rem 19vw;
	list-style-type: none;
	justify-content: center;
	align-items: center;
  }

  .cards__buttons {
	background-color: #fff;
  }
  
  .card {
	position: relative;
	display: block;
	height: 100%;  
	border-radius: calc(var(--curve) * 1px);
	overflow: hidden;
	text-decoration: none;
	width: 350px;  
	height: 350px;
  }
  
  /* .card__image {
	width: 100%;
	height: 400px;
  } */
  /* .card__image button{
	display: none;
	width: 60px;
	height: 60px;
   } */
  .card__overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;      
	border-radius: calc(var(--curve) * 1px);    
	background-color: var(--surface-color);      
	transform: translateY(100%);
	transition: .2s ease-in-out;
  }
  
  .card__overlay:hover{
	transform: translateY(0);
  }
  
  .card__header {
	position: relative;
	display: flex;
	align-items: center;
	gap: 2em;
	padding: 2em 2em 2em;
	border-radius: calc(var(--curve) * 1px) 0 0 0;    
	background-color: var(--surface-color);
	transform: translateY(-100%);
	transition: .2s ease-in-out;
	
  }

  .card__header::after{
	content: url('material/angles-down-solid.svg');
	display: block;
	justify-self: end;
	width: 20px;
	height: 2px;
	background: var(--color1);
  }
  
  .card__arc {
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 100%;
	right: 0;      
	z-index: 1;
  }
  
  .card__arc path {
	fill: var(--surface-color);
  }       
  
  .card__overlay:hover .card__header {
	transform: translateY(0);
  }
  
  .card__thumb {
	flex-shrink: 0;
	width: 50px;
	height: 50px;      
	border-radius: 50%;      
  }
  
  .card__title {
	font-size: 1.2em;
	margin: 0 0 .3em;
	color: black;
  }
  
  .card__tagline {
	display: block;
	margin: 1em 0;
	font-size: .8em; 
	color: #989697;  
  }
  
  .card__status {
	font-size: 1em;
	color: #787677;
  }
  
  .card__description {
	padding: 0 2em 0;
	/* margin-left:5.5em ; */
	color: black;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; 
	line-clamp: 3; 
	overflow: hidden;
	line-height: 1.2em; 
  }    

  .card__header-text{
	width: 150px;
  }

  @media screen and (min-width:950px) and (max-width:1200px){
	.cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		gap: 2rem;
		margin:4rem 9vw;
		list-style-type: none;
		justify-content: center;
		align-items: center;
	}
  }
  
  @media screen and (min-width:718px) and (max-width:949px){
	.cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 2rem;
		margin:4rem 9vw;
		list-style-type: none;
		justify-content: center;
		align-items: center;
	}

	.card {
		position: relative;
		display: block;
		height: 100%;  
		border-radius: calc(var(--curve) * 1px);
		overflow: hidden;
		text-decoration: none;
		width: 300px;
		height: 250px;  
	}
	.card__file{
		display: none;
	}

	.card__image{
		display: block;
		width: 100%;
		height: 250px;
	}

	.card__image button{
		width: 60px;
		height: 60px; 
	}

  }

  @media screen and (max-width:718px){
	.cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 2rem;
		margin:4rem 25vw;
		list-style-type: none;
		justify-content: center;
		align-items: center;
	}

	.card {
		position: relative;
		display: block;
		height: 100%;  
		border-radius: calc(var(--curve) * 1px);
		overflow: hidden;
		text-decoration: none;
		width: 300px;
		height: 250px;  
	}
	.card__file{
		display: none;
	}

	.card__image{
		display: block;
		width: 100%;
		height: 250px;
	}

	.card__image button{
		width: 60px;
		height: 60px; 
	}
  }

