:root {
    --surface-color: rgb(255, 182, 6);
    --curve: 40;
}

.cards {
    display: grid;
    
    gap: 2rem;
    margin: 1.5rem 4vw;
    padding-left: 0rem;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    display: block;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    width: 300px;
    height: 250px;
}

.card__image {
    display: block;
    background-color: #f8f9fb;
    width: 100%;
    height: 250px;
}

.card__image button {
    width: 60px;
    height: 60px;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: #f0f1f3;
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card__overlay:hover {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.3em;
    padding: 1em 1em 1em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__footer {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em 1em 1em;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
}

.card__overlay:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-size: .8em;
    color: #989697;
}

.card__subtitle {
    font-size: 14px;
    color: #868e96;
}

.card__description {
    margin-left: 75px;
    color: black;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    line-height: 1.2em;
    text-align: center;
}

.card__header-text {
    width: 250px;
}

.select_item {
    display: none;
}


/* Configuración para pantallas grandes */
@media screen and (min-width: 1500px) {
    .cards {
        grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas grandes */
        margin: 2.5rem 4vw;
        padding-left: 90px;
    }
}

/* Configuración para pantallas medianas */
@media screen and (min-width: 1200px) and (max-width: 1499px) {
    .cards {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas entre 1200px y 1499px */
        margin: 2rem 3vw;
        padding-left: 65px;
    }
}

/* Configuración para pantallas pequeñas */
@media screen and (min-width: 994px) and (max-width: 1199px) {
    .cards {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas entre 800px y 1199px */
        margin: 2rem 3vw;
        padding-left: 30px;
    }
}

@media screen and (max-width: 799px) {
    .cards {
        grid-template-columns: repeat(2, 1fr); /* 1 columna en pantallas pequeñas */
        margin: 2rem 10rem;
        padding-left: 1rem;
    }

    .mid_tab {
        display: none;
    }

    .select_item {
        display: inline;
    }
}
